<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/style/style.css}" rel="stylesheet"/>
</head>
<body>
<p>
<table border="1px">
    <caption>Students</caption>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Lastname</th>
        <th>Year of birth</th>

        <th>Delete</th>
    </tr>
    <tr>
        <td>0</td>
        <td>Anton</td>
        <td>Litvinchuk</td>
        <td>2000</td>
     </tr>
    <tr th:each="student : ${students}">
        <td th:text="${student.id}"></td>
        <td th:text="${student.name}"></td>
        <td th:text="${student.lastname}"></td>
        <td th:text="${student.yearOfBirth}"></td>
        <td><form th:action="@{/student/${student.id}}" th:method="DELETE"><button type="submit">Delete</button></form></td>
    </tr>
</table>
</p>
    <a href = "/student/new-student" methods="GET">Create new student</a>
</body>
</html>